
@model IEnumerable
<MikhunaEcuador.Models.Usuario />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nivel)
        </th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsuarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsuarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsuarioID })
        </td>
    </tr>
}

</table>

<!--Hagan de aquí para abajo-->

<html lang="en">

<head>
    <tittle> Perfil de Usuario </tittle>
    <link rel="stylesheet" href="./Site.css">
</head>
<body>

    <div class="container">
        <div class="perfil-header">


        </div>

    </div>
</body>


</html>









